.contactus,
.contactus__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contactus__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;

  h1 {
    text-align: center;
  }

  input[type="text"],
  input[type="email"] {
    padding: 0.7rem;
    width: 100%;
    margin: 1rem;
    background: var(--color-white) !important;
    color: var(--color-black) !important;
    font-size: 1.2rem;
    border-radius: var(--border-radius-lg) !important;
  }

  @media (max-width: 558px) {
    width: auto;
    margin: 0.5rem;
  }
}

.contactus__message {
  width: 100%;
  height: 20rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: var(--border-radius-lg) !important;
  resize: none;

  &::-webkit-input-placeholder {
    font-size: 1rem;
  }

  &::-moz-placeholder {
    font-size: 1rem;
  }

  &:-ms-input-placeholder {
    font-size: 1rem;
  }

  &::-ms-input-placeholder {
    font-size: 1rem;
  }

  &::placeholder {
    font-size: 1rem;
  }
}

.contactus__img {
  margin-left: 5rem;
  margin-top: 5rem;

  img {
    width: 600px;
    height: 450px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  @media (max-width: 1240px) {
    display: none;
  }
}

.contactus__button {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  color: var(--color-white) !important;
  background: var(--color-blue) !important;
  border-radius: var(--border-radius-lg) !important;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition) !important;

  &:hover {
    box-shadow: 0px 0px 0px 5px rgba(70, 107, 255, 0.682);
  }
}

.contactus__incorrect-data {
  color: var(--color-danger) !important;
  margin-top: 1rem;
}

.contactus__correct-data {
  color: var(--color-success) !important;
  margin-top: 1rem;
}
